@charset "utf-8";

html.ltr .ss_samsung .footer .flag-in {margin-left: 10px;}
.ss_samsung .footer .flag-in {background: url('/common/next/img/flag-in.jpg'); background-size:100%; width: 30px;height: 20px;margin-top: -3px;display: -moz-inline-stack;display: inline-block;vertical-align: middle;zoom: 1;}
.ss_samsung .footer a.icon-youtube{ background:url('/in/next/img/icon-youtube_off.png') no-repeat left center; background-size:100%; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; width:20px; height:20px;}
.ss_samsung .footer a.icon-youtube:hover, .ss_samsung .footer .icon-youtube a.icon-youtube:active{background:url('/in/next/img/icon-youtube_on.png') no-repeat left center; background-size:100%; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased;}
.ss_samsung .footer .googleico {float: none; display: table-cell; vertical-align: middle; color: #d34836; margin-right: 15px; font-size: 1.25rem;}
.ss_samsung .footer a.googleico:hover{color:#b33c2d;}

/* 20140825 by demoon*/
.ss_samsung #shop-popover-container .popover .shop-popover .buy-online ul li span.store-name {width: 60%;}
.ss_samsung #shop-popover-container .popover .shop-popover .buy-online ul li span {width: 30%;}
.ss_samsung #shop-popover-container .popover .shop-popover .buy-online ul li span img {margin-right:10px; vertical-align:middle;}

/* live chat for support page */
@media all and (max-width:1024px) {
	#livechat{display: none !important;}
}
/* live chat end */