@charset "utf-8";

html.ltr .support-container .smcant .support-item {width:16%;}
@media (max-width: 1400px) {
	html.ltr .support-container .smcant .support-item {width:15%;}
}
@media (max-width: 1280px) {
	html.ltr .support-container .contact-information-module .support-item {min-height:110px;}
	html.ltr .support-container .smcant .support-item {width:42%;}
}
@media (max-width: 767px) {
  html.ltr .support-container .contact-information-module .support-item {min-height:inherit; height:auto;}
}