#nav .dropdown {	
    background-color: #E7E7E7;
    padding-top: 18px;
    padding-left: 8px;
    height:auto; 
    border-bottom: 1px solid #8F8F8F;
    position:absolute;
    margin-top:32px;
    z-index: -1;
	*margin-left: -635px;
}

#nav .dropdown > ul {
    margin: 0 auto;
    width: auto;
}
#nav div.dropdown ul li.clearfix {
    border: 0 none;
}
#nav #subMenuProducts.dropdown ul {
    background: url("http://pro.sony.com/bbsccms/app/vc/Css/topnavsub_div4H82.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    min-height: 100px;
}
#nav #subMenuMarkets.dropdown ul {
    background: url("http://pro.sony.com/bbsccms/app/vc/Css/topnavsub_div4H131.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    min-height: 80px;
}
#nav #subMenuMicrosites.dropdown ul {
    background: url("http://pro.sony.com/bbsccms/app/vc/Css/topnavsub_div4H131.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    min-height: 80px;
	
}
#nav #subMenuSupport.dropdown ul {
    background: url("http://pro.sony.com/bbsccms/app/vc/Css/topnavsub_div4H131.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    min-height: 30px;	
    margin-left:432px; 
    border:none;
    width:540px;
}

#nav #subMenuSupport.dropdown > ul > li {
	border:#8F8F8F;
}

#nav #subMenuSupport.dropdown ul li a{    
    font-size:1.1em;
    
}

#nav .dropdown > ul * a {
    color: #303030;
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
    vertical-align: middle;
}
#nav .dropdown > ul * a:hover {
    color: #DC9018;
    text-decoration: none;
    cursor:pointer;
}
#nav .dropdown > ul > li {
    border-bottom: 1px solid #333333;
    float: left;
    height: 25px;
    margin: 0 11px;
    vertical-align: middle;
    width: 171px;
}
#nav .dropdown {
    display: none;
}

.menu li {
    cursor: pointer;
}
.dropdown {
    display: none;
}
.dropdown li  a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#nav .active, .active {
    display: block;
}
.clearfix {
    clear: both;
}
.clearfloat {
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}