/* Global.css 
	Created: March, 2008
	Original Author: Christopher Lum, Sapient Corporation
	Change Log:
	
*/
body {background-color: #fff;}

/* =Hide background images */
#content,#wrapper,.asset_spot h2,.page_content .asset_spot,.page_content .category_highlights,#product_container,.product-detail #product_container .product-highlights ul.highlights li,.row.search_categories, .row.section,.row.section .bd,.row.search_categories .bd,.row.section .ft, .row.search_categories .ft,body,#footer,.page,h1,h2, h3, h4, .generic_content h3,ul.simple_bullet li,.page_content .product_spot,.promo_list .promo,.promo_list .promo .image,.promo_list .promo .content,.asset_spot.image_start .top,.page_content .row_bottom,#content .overview,.page_content .row_top,.subTabBar  {background: transparent none !important;background-image: none !important; color: #000;}
/* =Hide background images */

a:link, a:visited {background: none;text-decoration: underline !important;text-indent: 0;color: #000;}

a.arrow_link {margin-left: 0px;	padding-left: 0px;}

.page_content {width: 982px;}

.page_content .category_highlights,.row.section .bd.tabular,.page_content .controls,.promo_list .promo {width: 784px;}

.page,.page_content,.page_content .promo_row {border: 0px;}

#footer ul, #footer p {margin-left: 0px;}
.row.section .bd.tabular,.row.section .bd.tabular table {padding:0px; margin: 0px;}

/*  =Hide elements */
#header,#nav,#utility_links,#search_bar,.info_bar,.page_nav,.badge,.tagline,#wrapper .mask,.yui-overlay,.yui-panel-container,.hd,.underlay,#wrapper .yui-panel .hd,#wrapper .yui-panel-container.shadow .underlay,#wrapper .yui-tt .bd,#wrapper .yui-tt-shadow,ul.tab_menu,.product-detail #product_container .tabBar,.product-detail .print-email,ul.search_pagination {display: none !important;}

 {border: none !important;color: #000 !important;background: none !important;}
/*  Hide elements end */

.generic_content .with_sidebar .side_content {float: left;}

.category_highlights .category_spot,.category_highlights .resources_spot,.page_content {float: none;}

.page_content .asset_spot,.category_highlights .category_spot,.category_highlights .resources_spot,#product_container,.page_content .product_spot,.promo_list .promo {border: 1px solid #000;}

.product-detail #product_container h2 {	border-bottom: 1px solid #000 !important;}

.product-detail #product_container .product-highlights ul.highlights li,ul.simple_bullet li {list-style-type: disc;padding-left: 2px;margin-left: 12px;}

/* Show product detail tab content */
.product-detail #tab_menu1_content,.product-detail #tab_menu2_content,.product-detail #tab_menu3_content,.product-detail #tab_menu4_content,.product-detail #tab_menu5_content,.product-detail #tab_menu6_content,.product-detail #tab_menu7_content {display: block;float: none;}

