@charset "utf-8";
/* CSS Document */

body {padding:0;margin:0;font-family:arial,sans-serif;}
img {display:block;border:0}
.access {display:none}
.hidden {display:none}
.backtotop{display:none;}
iframe{display:none;}
a {text-decoration:none; font-weight:normal;}
a:link, a:visited {color:#000; border-bottom:none;}
P,H1,H2,H3,H4,H5,H6,H7{padding:0px;margin:0px}
#tmgMenu-z1 {display:none;}
.printLogo{display:none;}
#tmglBrandLarge a {display:none;}
#tmglBannerAd {display:none;}
.adbanner {display:none;}
.admpu {display:none;}
.googleads {display:none;}
#tmglPrimaryNav {display:none;}
#tmglSecondNav {display:none;}
#tmglExtraNav {display:none;}
#tmglCrumbtrail {display:none;}
#tmglFooterLarge {margin:10px 0;padding:5px 0 0 0;}
#footerinfo {font-size:9pt;}
#tmglFooterLargeItems { display:none;}
#footerinfo p a { display:none;}
.cl{clear:both}
.hide {display:none;}
.printHide {display:none;}
#searchBar {display:none;}
#tmglLasUpdatedDateFeed {display:none;}
.oneSixth {display:none;}
.oneThird {display:none;}
.headerOne {display:none;}
.summary {padding:5px 0;padding-bottom:5px;}
.summary h3 {font-weight:normal;padding:0 0 0.2em 0;margin:0;}
.summary .piccentre{padding:0;margin:0}
.summary h3, h4 {font-size:1.2em;font-weight:bold;padding:0 0 2px 0;margin:0;}
.storyFunc {display:none;}
.related_links_inline {border-top:2px solid #CCC;border-bottom:2px solid #CCC;padding:10px;clear:both;margin-bottom:10px;}
.related_links_inline ul {margin:0;padding:0;list-style-type:none;}
.related_links_inline ul li {margin-bottom:15px;}
.relContDate {display:none;}
.summaryMedium h3 {font-size:1.6em;line-height:1.13em;}
.summarySmall h3 {font-size:1.4em;line-height:1.29em;}
#disqus_thread {display:none;}
.dsq-brlink {display:none;}